/* both */

/* MOBILE  */

.cover-content.mobile {
    padding: 0 1rem;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.cover-middle.mobile {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cover-content.mobile h1.cover-title.mobile, .cover-yth.mobile {
    font-size: var(--font-16);
    font-weight: 400;
    color: var(--primary);
}

h1.cover-title.mobile {
    top: 3.5vh;
    position:relative;
}

.cover-content.mobile .cover-name-1, .cover-name-2, .cover-name-and{
    font-family: "AntsValley-Regular";
}

.cover-name-1.mobile {
    color: var(--primary-darker);
    font-weight: normal;
    font-size: var(--font-40);
    margin-right: 40vw;
}

.cover-name-2.mobile {
    color: var(--primary-darker);
    font-weight: normal;
    font-size: var(--font-40);
    margin-left: 40vw;
}

.cover-name-and.mobile {
    color: var(--gold);
    font-weight: lighter;
    font-size: var(--font-50);
    padding: 0;
    margin: -0.5em 0;
}

.cover-inside.mobile {
    margin: 3.5em 0;
}

.cover-email-icon.mobile {
    align-self: center;
    padding: 0 10px;
    width: 1.5rem;
    max-height: 1.369rem;
}

.cover-email-icon-open.mobile {
    align-self: center;
    padding: 0 12px;
    width: 1.25rem;
}

/* DESKTOP */

.cover-content.desktop {
    padding: 0 1rem;
    height: 100vh;
    width: 500px;
    align-items: center;
    text-align: center;
}

.cover-middle.desktop {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cover-content.desktop h1.cover-title.desktop, .cover-yth.desktop {
    font-size: var(--font-16);
    font-weight: 400;
    color: var(--primary);
}

h1.cover-title.desktop {
    top: 3.5vh;
    position:relative;
}

.cover-content.desktop .cover-name-1, .cover-name-2, .cover-name-and{
    font-family: "AntsValley-Regular";
}

.cover-name-1.desktop {
    color: var(--primary-darker);
    font-weight: normal;
    font-size: var(--font-40);
    margin-right: 50%;
}

.cover-name-2.desktop {
    color: var(--primary-darker);
    font-weight: normal;
    font-size: var(--font-40);
    margin-left: 50%;
}

.cover-name-and.desktop {
    color: var(--gold);
    font-weight: lighter;
    font-size: var(--font-50);
    padding: 0;
    margin: -0.5em 0;
}

.cover-inside.desktop {
    margin: 3.5em 0;
}

.cover-email-icon.desktop {
    align-self: center;
    padding: 0 10px;
    width: 1.5rem;
    max-height: 1.369rem;
}

.cover-email-icon-open.desktop {
    align-self: center;
    padding: 0 12px;
    width: 1.25rem;
}