.kisah-kami-text p {
    font-size: 2rem;
    font-family: var(--ants);
    text-align: center;
}

.kisah-kami-slider-container {
    width: 100%;
    margin: 20px auto;
}

.gallery-container {
    padding: 2.5rem 0 1rem 0;
}

.photo-gallery-container {
    text-align: center;
    min-height: 60vh;
}

.two-photo-img {
    width: 100%;
    transition: ease 1s;
}

.padding-left {
    padding: 0 0 0 3%;
}

.one-photo-img {
    width: 100%;
    transition: ease 1s;
}

.two-photo {
    display: flex;
    justify-content: center;
    padding: 0 0 3% 0;
}

.one-photo-img:hover, .two-photo-img:hover {
    cursor: pointer;
    transition: ease .5s;
    transform: scale(1.05);
}