.opening-logo-wrapper {
    text-align: center;
}

.opening-quotes {
    padding: .3rem 0;
}

.opening-quotes p {
    text-align: center;
    color: var(--primary);
    font-size: var(--font-12-md);
}

.opening-quotes p.opening-surat {
    margin: .3rem 0;
    text-align: center;
    color: var(--primary);
    font-weight: bolder;
    font-size: var(--font-12-md);
}

.opening-photo-wrapper {
    display: flex;
    justify-content: center;
}

.opening-photo-container {
    text-align: center;
    padding: 0 0;
}

.opening-nama {
    padding: .8rem 0;
    color: var(--primary);
    font-size: var(--font-12-lg);
    font-weight: 500;
    text-align: center;
}

.opening-nama2 {
    color: var(--gold);
    font-size: var(--font-12);
    font-weight: 500;
}

.opening-event-group {
    padding: 0 1.5rem;
}

.opening-tanggal-content {
    display: table;
    margin: 0 auto;
}

.opening-tanggal-group {
    display: flex;
    padding: .2rem 0;
}

.opening-tanggal-font {
    font-size: var(--font-12);
    font-weight: 400;
    color: var(--primary);
    align-self: center;
}

.opening-icon {
    padding: 0 .5rem;
}

.opening-icon-top {
    position: relative;
    top: 0;
}

.LA-logo {
    width: 30vw;
    max-width: 200px;
}

.opening-photo {
    width: 40vw;
    max-width: 250px;
}

.photo-left {
    padding-right: .25rem;
}

.photo-right {
    padding-left: .25rem;
}

.opening-padding-wrapper {
    padding: 0 1.3rem;
}