p.rsvp {
    font-size: 2rem;
    font-family: var(--ants);
    text-align: center;
    padding: 20px 0;
}

.form-rsvp-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0 0 22px 0;
}

p.rsvp-title {
    padding: 22px 25px 0 12.5px;
    text-align: center;
    font-size: var(--font-12);
    color: var(--primary);
    font-family: var(--open-sans);
}

.rsvp-title {
    width: 100%;
}

.rsvp-header-container {
    display: flex;
    padding: 0 0 15px 0;
}

img.lily3-icon {
    width: 5rem;
}

.form-rsvp-wrapper {
    padding: 0 25px;
}

.rsvp-input input, .rsvp-input textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 18px;
    border: 1.6px solid var(--secondary);
    border-radius: 15px;
    outline: none;
    resize:unset;
    font-family: var(--poppins);
}

.rsvp-input input::placeholder, .rsvp-input textarea::placeholder {
    color: var(--muted);
}

.rsvp-label {
    padding: 0 0 4px 0;
}

.rsvp-label p {
    font-size: var(--font-12);
    font-weight: 600;
    color: var(--primary);
}

.form-group {
    padding: 0 0 15px 0;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 7px;
    /* margin: 10px 0 0; */
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    font-size: var(--font-12);
    font-weight: normal;
    color: var(--primary);
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2px solid var(--gold);
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 8.5px;
    left: 9.8px;
    content: " ";
    display: block;
    background: var(--gold);
  }
  .radio-item input[type=radio]:checked ~ label {
    font-weight: bolder;
  }