/* MOBILE */

.mobile-hide.mobile {
    display: none;
}

p.rsvp.mobile {
    font-size: 2rem;
    font-family: var(--ants);
    text-align: center;
    padding: 20px 0;
}

.form-rsvp-container.mobile {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    padding: 0 0 22px 0;
}

p.rsvp-title.mobile {
    padding: 22px 25px 0 12.5px;
    text-align: center;
    font-size: var(--font-12);
    color: var(--primary);
    font-family: var(--open-sans);
}

.rsvp-title.mobile {
    width: 100%;
}

.rsvp-header-container.mobile {
    display: flex;
    padding: 0 0 15px 0;
}

img.lily3-icon.mobile {
    width: 15vw;
    height: 100%;
}

img.lily4-icon.mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    pointer-events: none;
}

.form-rsvp-wrapper.mobile {
    padding: 0 25px;
}

.rsvp-input.mobile input, .rsvp-input.mobile textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 18px;
    border: 1.6px solid var(--secondary);
    border-radius: 15px;
    outline: none;
    resize:unset;
    font-family: var(--poppins);
    font-size: var(--font-12);
}

.rsvp-input.mobile input::placeholder, .rsvp-input.mobile textarea::placeholder {
    color: var(--muted);
}

.rsvp-label.mobile {
    padding: 0 0 4px 0;
}

.rsvp-label.mobile p {
    font-size: var(--font-12);
    font-weight: 600;
    color: var(--primary);
}

.form-group.mobile {
    padding: 0 0 15px 0;
}

.radio-item.mobile {
    display: inline-block;
    position: relative;
    padding: 0 7px;
    /* margin: 10px 0 0; */
  }
  
  .radio-item.mobile input[type='radio'] {
    display: none;
  }
  
  .radio-item.mobile label {
    font-size: var(--font-12);
    font-weight: normal;
    color: var(--primary);
  }
  
  .radio-item.mobile label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5.5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2px solid var(--gold);
    background-color: transparent;
  }
  
  .radio-item.mobile input[type=radio]:checked + label:after {
    border-radius: 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 8.5px;
    left: 9.8px;
    content: " ";
    display: block;
    background: var(--gold);
  }

  .radio-item.mobile input[type=radio]:checked ~ label {
    font-weight: bolder;
  }

/* DESKTOP */

.desktop-hide.desktop {
    display: none;
}

  p.rsvp.desktop {
    font-size: var(--font-35);
    font-family: var(--ants);
    text-align: center;
    padding: 20px 0;
}

.form-rsvp-container.desktop {
    display: flex;
    margin: 30px 0 0 0;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
}

p.rsvp-title.desktop {
    padding: 22px 25px 0 12.5px;
    text-align: center;
    font-size: var(--font-12-lg);
    color: var(--primary);
    font-family: var(--open-sans);
}

.rsvp-title.desktop {
    width: 100%;
}

.rsvp-header-container.desktop {
    padding: 0 0 15px 0;
}

img.lily3-icon.desktop {
    position: absolute;
    left: 0;
    width: 145px;
}

img.lily4-icon.desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    pointer-events: none;
}

.form-rsvp-wrapper.desktop {
    width: 100%;
    height: 605px;
    padding: 0 45px 0 45px;
}

.rsvp-input.desktop input, .rsvp-input.desktop textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 18px;
    border: 1.6px solid var(--secondary);
    border-radius: 15px;
    outline: none;
    resize:unset;
    font-family: var(--poppins);
    font-size: var(--font-12-md);
}

.rsvp-input.desktop input::placeholder, .rsvp-input.desktop textarea::placeholder {
    color: var(--muted);
}

.rsvp-label.desktop {
    padding: 0 0 4px 0;
}

.rsvp-label.desktop p {
    font-size: var(--font-12-lg);
    font-weight: 600;
    color: var(--primary);
}

.form-group.desktop {
    padding: 0 0 15px 0;
}

.radio-item.desktop {
    display: inline-block;
    position: relative;
    padding: 0 7px;
    /* margin: 10px 0 0; */
  }
  
  .radio-item.desktop input[type='radio'] {
    display: none;
  }
  
  .radio-item.desktop label {
    font-size: var(--font-12);
    font-weight: normal;
    color: var(--primary);
  }
  
  .radio-item.desktop label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5.5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2px solid var(--gold);
    background-color: transparent;
  }
  
  .radio-item.desktop input[type=radio]:checked + label:after {
    border-radius: 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 8.5px;
    left: 9.8px;
    content: " ";
    display: block;
    background: var(--gold);
  }

  .radio-item.desktop input[type=radio]:checked ~ label {
    font-weight: bolder;
  }

  .rsvp-img.desktop {
    height: 605px;
    border-radius: 15px 0 0 15px;
  }

  .flex.desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .radio-item.desktop label {
      font-size: var(--font-12-md);
  }

  .rsvp-inserted.desktop {
    display: flex;
    align-items: center;
  }

  .rsvp-title.inserted.desktop {
    padding: 0 2rem;
    width: unset;
  }

  .form-group.right.desktop {
    margin-right: 2rem;
  }