.countdown-container {
    padding: .6rem 1.3rem;
}

.countdown-wrapper {
    padding: 8px 6vw;
    margin: 2vh 0;
    border: 1px solid var(--secondary);
    border-radius: 20px;
}

.count {
    display: flex;
    justify-content: space-around;
}

.time {
    text-align: center;
}

.label {
    font-size: var(--font-12);
    font-weight: 400;
    color: var(--gold);
}

.value {
    padding: 4px 0 0 0;
    font-family: "AntsValley-Regular";
    font-size: var(--font-30);
    color: var(--gold);
}

.separator {
    font-family: "OpenSans-Regular";
    font-size: var(--font-30);
    align-self: center;
    color: var(--gold);
    font-weight: 100 !important;
}

.maps.mobile {
    display: flex;
    justify-content: center;
}

.g-maps.mobile {
    border: 1px transparent;
    border-radius: 30px;
    width: 100%;
    height: 300px;
    padding: .6rem 1.3rem;
}

.button-container {
    padding: .3rem 1.3rem;
}

.prokes-text-wrapper p {
    text-align: center;
    color: var(--primary);
    font-size: var(--font-12);
}

.prokes-content-container {
    padding: 20px 3.5vw;
    border: 1px solid var(--secondary);
    border-radius: 20px;
}

.prokes-icons-wrapper {
    display: flex;
    justify-content: space-around;
}

.prokes-text p {
    text-align: center;
    font-size: var(--font-12);
    color: var(--primary);
    font-family: var(--open-sans);
    font-weight: bold;
}

.prokes-icon-img {
    width: 50px;
    height: 50px;
}

.prokes-icons-wrapper {
    padding: 1rem 0 0 0;
}

.prokes {
    padding: 0 1rem;
}