.sticky-wrapper {
    position: sticky;
    bottom: 40px;
    z-index: 2;
    padding: 0 2.8rem 0 2rem;
    /* padding-right: .8rem; */
}

.fb-container {
    /* margin: 0 16px; */
    display: flex;
    justify-content:space-evenly;
    height: 55px;
    width: 100%;
    padding: 5px 5px;
    background-color: var(--almost-white);
    border: 1px solid var(--fb-outline);
    box-shadow: 2px 2px 5px rgba(112, 144, 176, 0.15);
    border-radius: 30px;
    align-items: center;
}

.fb-icon {
    /* padding: 0 20px; */
    width: 35px;
    height: 35px;
}